@charset "utf8";

*{
    box-sizing: border-box;
}

button{
    display: block!important;
    padding: 10px;
    margin: 20px auto;
}
a{
    color:green;
    text-decoration: none;
}
a:visited{
    color: green;
}

#c-files{
    width: 90%;
    padding: 20px;
    margin: auto;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
}
#c-files > *{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid lightgray;
    padding: 5px;
}