
.Btn{
  padding: 10px;
  margin: 20px;
}

a{
  text-decoration: none;
}

.container{
  border: 1px solid rgb(168, 166, 166);
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
}

input{
  display: inline!important;
  width: auto!important;
  margin: 5px!important;
}

td, th{
  border-collapse: collapse;
  border: 1px solid gray;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}